*.txt
*.aux
*.log
*.cmi
*.cmo
*.cmx
*.o
*.gz
*.sum.synctex

satsolver/satsolver
satsolver/fnc_solver

problemes/calendrier
problemes/calendrier_n_pieces
problemes/n_dames
problemes/print_tab
problemes/maisons
